---

---

<style>
  #crt:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
      to bottom,
      rgba(18, 16, 16, 0) 50%,
      rgba(0, 0, 0, 0.25) 50%
    );
    background-size: 100% 8px;
    z-index: 2;
    pointer-events: none;
  }
  #screen {
    position: absolute;
    margin: auto;
    inset: 0;
    width: 60%;
    height: 80%;
    border: 30px solid transparent;
    border-image-source: url(../images/bezel.png);
    border-image-slice: 30 fill;
    border-image-outset: 0;
  }
  #monitor {
    position: absolute;
    width: 77%;
    height: 80%;
    overflow-y: scroll;
    scrollbar-width: none;
    top: 10%;
    left: 12%;
  }
  .terminal {
    color: #00ff00;
    font-size: 24px;
  }
  .empty_lines{
    position: absolute;
    width:100%;
    height: 50%;
  }
</style>

<!-- the actual device -->
<div id="screen">
  <div id="monitor" style="font-weight: bold;">
    <div id="crt" class="off">
      <!-- the input and output -->
      <div class="terminal"></div>
      <div class="empty_lines"></div>
    </div>
  </div>
</div>

<script>
  // Code runs only in browser
  document.addEventListener("DOMContentLoaded", () => {
    const terminal = document.querySelector(".terminal");
    let path = "ssh@tushya.portfolio";
    let currInput: HTMLDivElement | null = null;

    function handleClick() {
      if (currInput != null) {
        currInput.focus();
      }
    }

    document.body.addEventListener("click", handleClick);

    function pause(s = 1) {
      return new Promise((resolve) => setTimeout(resolve, 1000 * Number(s)));
    }

    async function type(text: string, container: Element) {
      await pause(0.1);
      const queue = text.split("");
      while (queue.length) {
        const char = queue.shift();
        if (!char) {
          break;
        }
        container.append(char);
        await pause(0.03);
      }
      await pause(0.2);
      container.classList.remove("active");
    }

    async function input() {
      return new Promise((resolve) => {
        const onKeyDown = (event: KeyboardEvent) => {
          if (event.key === "Enter") {
            event.preventDefault();
            const result = event.target.textContent;
            inputEl.removeEventListener("keydown", onKeyDown);
            resolve(result);
          }
        };

        const line = document.createElement("div");
        line.style.display = "flex";
        const carret = document.createElement("div");
        carret.innerHTML = path + " >";
        carret.style.marginRight = "1ch";

        const inputEl = document.createElement("div");
        line.append(carret);
        line.append(inputEl);
        inputEl.id = "input";
        inputEl.style.outline = "none";
        inputEl.style.wordBreak = "break-all";
        inputEl.contentEditable = "true";
        inputEl.addEventListener("keydown", onKeyDown);
        terminal.appendChild(line);
        inputEl.focus();
        currInput = inputEl;
      });
    }

    function clear() {
      terminal.innerHTML = "";
    }

    async function boot() {
      clear();
      await type(path + " > Hello stranger", terminal);
      await main();
    }

    async function main() {
      const command = await input();
      console.log(command);
      await type(`You typed: ${command}`, terminal);
      main();
    }

    boot();
  });
</script>
